<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gloria.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.base.myapplication.myApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_cover"
        android:label="@string/new_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".SignIn.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TempActivity">
        </activity>
        <activity android:name=".manage.ChangeInfoActivity">
        </activity>
        <activity android:name=".sign.SignInPage1Activity">
        </activity>
        <activity android:name=".manage.UploadFileActivity">
        </activity>
        <activity android:name=".manage.MyConcernActivity">
        </activity>
        <activity android:name=".manage.MyCollectActivity">
        </activity>
        <activity android:name=".manage.AboutMeActivity">
        </activity>
        <activity android:name=".search.SearchResultActivity">
        </activity>
        <activity android:name=".paper.DataMainActivity">
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SignIn.SignUp1Activity" />
        <activity android:name=".SignIn.SignUp2Activity" />
        <activity android:name=".SignIn.SignUp3Activity" />
        <activity android:name=".SignIn.SignUp4Activity" />
        <activity android:name=".SignIn.SignUp5Activity" />
        <activity android:name=".searchPaper.PaperDetailMainActivity" />
        <activity android:name=".bookDetail.BookMainActivity" />
        <activity android:name=".showInfo.activity_T_pingfen" />
        <activity android:name=".showInfo.Activity_Top20_book" />
        <activity android:name=".showInfo.Activity_Top20_course" />
        <activity android:name=".showInfo.CourseDetailActivity" />
        <activity android:name=".showInfo.PingFenActivity" />
        <activity android:name=".showInfo.TeacherDetailActivity" />
        <activity android:name=".Recommend.Reco_book" />
        <activity android:name=".Recommend.Reco_course" />
        <activity android:name=".manage.AddTagActivity">
        </activity>
    </application>

</manifest>